# Build directories
build/
cmake-build-*/
out/

# Libtorch
extern/libtorch/

# CMake
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
Makefile

# Data
data/*/images/
data/state_l.obj
data/state_t.obj

# Other 
.cache/
.vscode/
.qtcreator/

compile_commands.json
