[submodule "extern/clean-core"]
	path = extern/clean-core
	url = https://github.com/project-arcana/clean-core.git
[submodule "extern/typed-geometry"]
	path = extern/typed-geometry
	url = https://github.com/project-arcana/typed-geometry.git
[submodule "extern/geometry-central"]
	path = extern/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glow"]
	path = extern/glow
	url = https://gitlab.vci.rwth-aachen.de:9000/Glow/glow.git
[submodule "extern/glow-extras"]
	path = extern/glow-extras
	url = https://gitlab.vci.rwth-aachen.de:9000/Glow/glow-extras.git
[submodule "extern/imgui-lean"]
	path = extern/imgui-lean
	url = https://gitlab.vci.rwth-aachen.de:9000/ptrettner/imgui-lean.git
[submodule "extern/libigl"]
	path = extern/libigl
	url = https://github.com/libigl/libigl.git
[submodule "extern/polymesh"]
	path = extern/polymesh
	url = https://github.com/project-arcana/polymesh.git
